:root {
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-light-gray: #666666;
  --basic-brown: #766357;
  --basic-light-blue: #81B3D2;
  --basic-white: #ffffff;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.current-page {
  color: var(--basic-brown);
}

.visually-hidden {
  display: none;
}

.gray {
color: var(--basic-gray);
}

.light-gray {
  color: var(--basic-light-gray);
}

.white {
  color: var(--basic-white);
}


.search {
  font-weight: bold;
}
.search input {
  font-weight: inherit;
}

.search h2 {
  background-color: var(--basic-brown);
}

.small {
  line-height: 21px;
}

.hotel-detailed {
  background-color: var(--basic-light-blue);
}

.hotel-booking {
  background-color: var(--basic-brown);
}

.hotels {
  line-height: 21px;
}

.detailed a {
  color: var(--basic-white);
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.filter {
  width: 1200px;
  height: 217px;
  background-color: var(--basic-light-blue);
  background-image: url(../img/background-catalog.png);
  background-repeat: no-repeat;
  line-height: 21px;
  color: var(--basic-white);
}

.filter input {
  color: inherit;
  background-color: inherit;
}

.welcome {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-light-blue);
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
}

legend {
  font-size: 16px;
}

.main-navigation {
  font-weight: bold;
}

.important {
  font-size: 21px;
  font-weight: bold;
}

.background-blue {
  background-color: var(--basic-light-blue);
}



/* .nav  {

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

}



.description {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  color: #000000;
}

.reasons {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: #333333;
}
.interested {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000000;
}
.bold {
  font-weight: bold;
}

.white {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}
.current-page {
  color: #766357;
}

 */
